<app-card>
    <app-logo></app-logo>
    <h1 class="card-title">{{ 'Sign in' | translate }}</h1>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="form-control" appAnimatedInput [ngClass]="{ invalid: submitted && f['email'].errors, filled: !!f['email'].value }">
                <label for="email">{{ 'Email or Phone' | translate }}</label>
                <input type="text" name="email" formControlName="email" id="email" autocomplete="email" aria-required="true" required>
                <div *ngIf="submitted && f['email'].errors" class="input-invalid" role="alert" aria-relevant="all">
                    <div *ngIf="f['email'].errors['required']">{{ 'Email or Phone is required' | translate }}</div>
                    <div *ngIf="f['email'].errors['email']">{{ 'Email is invalid' | translate }}</div>
                    <div *ngIf="f['email'].errors['phone']">{{ 'Phone is invalid' | translate }}</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-control" appAnimatedInput [ngClass]="{ invalid: submitted && f['password'].errors, filled: !!f['password'].value }">
                <label for="current-password">{{ 'Password' | translate }}</label>
                <input type="password" name="password" formControlName="password" id="current-password" aria-required="true" required>
                <div *ngIf="submitted && f['password'].errors" class="input-invalid" role="alert" aria-relevant="all">
                    <div *ngIf="f['password'].errors['required']">{{ 'Password is required' | translate }}</div>
                    <div *ngIf="f['password'].errors['minlength']">{{ 'Password is too short' | translate }}</div>
                </div>
            </div>
        </div>

        <div class="row submit">
            <a routerLink="/forgot">{{ 'Forgot your password?' | translate }}</a>
            <button type="submit"
                [disabled]="isDisabled()"
                [attr.aria-disabled]="true"
                [attr.aria-label]="'Sign In' | translate"
            >{{ 'Sign In' | translate }}</button>
        </div>
    </form>

    <div class="row">
        <a routerLink="/signup">{{ 'Create an account' | translate }}</a>
    </div>
</app-card>
<app-footer></app-footer>
