:host {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.col {
    display: flex;
    margin-left: -6px;
    margin-right: -6px;

    > * {
        margin-left: 6px;
        margin-right: 6px;
    }
}