@import '../../../scss/mixins';

:host {
    display: block;
    position: relative;
    color: var(--primary-color);
}

.control {
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }

    .arrow-wrapper .arrow {
        pointer-events: none;
        display: inline-block;
        height: 0;
        width: 0;
        position: relative;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid;
        margin: 0 4px;
        vertical-align: middle;
        color: var(--primary-color);
    }
}

.switcher {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    background-color: var(--card-bg-color);
    box-shadow: 0 0 20px 5px var(--card-shadow);
    border-radius: var(--border-radius);
    padding: 5px 0;
    overflow: hidden;

    &.open {
        display: block;
    }

    .item {
        width: 100%;
        box-sizing: border-box;
        padding: 5px 12px;
        cursor: pointer;

        &.active,
        &:hover {
            background-color: var(--card-bg-focus-color);
        }

        @include noHover {
            &:hover {
                background-color: var(--card-bg-color);
                color: #fff;
            }
        }
    }
}
