<div class="control" tabindex="0" role="button" (click)="openSwitcher()" (keyup.enter)="openSwitcher()">
    <div>{{ 'Language' | translate }}</div>
    <span class="arrow-wrapper"><span class="arrow"></span></span>
</div>

<div class="switcher" tabindex="-1" [class.open]="switcherOpen">
    <div tabindex="0" *ngFor="let item of languages | keyvalue"
        class="item"
        [class.active]="item.key === current"
        (click)="switch(item.key)"
        (keyup.enter)="switch(item.key)"
    >{{ item.value }}</div>
</div>